html, html *, html *::after, html *::before{
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

html{
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

a{
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
}






